body { 
	background-image:url(Acceuil.png);
}
nav{
	background : rgba(33, 150, 243, 0.4);
	opacity : 0.7;
	border: 5px inset red;
}

#titre {
	font-size : 20pt;
	color : black;
}

#form{
	background : white;
	opacity : 0.9;
	border: 5px inset #2196f3;
	border-radius : 15px;
	font-size : 15px;

}

.connec{
	margin-top: 15px;
}

.input {
	background: white;
	opacity : 0.5;
}



