.boutton {
	border : 2px inset #2196f3;
	background : white;
	border-radius : 15px;
	font-size : 15px;
	width : 110px;
}

.boutton2 {
	border : 2px inset #2196f3;
	background : white;
	border-radius : 15px;
	font-size : 15px;
	width : 110px;
	margin-top : -30px;
}

.boutton:hover {
	background : rgba(33, 150, 243, 0.3);
}

.boutton2:hover {
	background : rgba(33, 150, 243, 0.3);
}

.container-fluid{
	background : rgba(33, 150, 243, 0.3);
	color : #2196f3;
}

#nompseudo {
	margin-top : -30px;
	font-size :25px;
	color : #2196f3;
}

#pp {
	border : 5px inset #2196f3;
	margin-top : -75px;
}

#cadre {
	border-left : 5px inset #2196f3;
	border-right : 5px inset #2196f3;
	border-bottom : 5px inset #2196f3;
	padding : 20px; 
}

#commentaire {
	border : 2px inset #2196f3;
	border-radius : 15px;
}

#newmessage {
	border : 2px inset #2196f3;
	border-radius : 15px;
	width : 100%;
	height : 100px;
	background : rgba(33, 150, 243, 0.3);
}

#newmessage:hover{
	background : rgba(33, 150, 243, 0.5);
}

#titre {
	border : 5px inset #2196f3;
	background: rgba(33, 150, 243, 0.3);
	padding : 20px;
}