.container-fluid{
	background : rgba(33, 150, 243, 0.3);
	color : #2196f3;
}

.boutton {
	border : 2px inset #2196f3;
	background : white;
	border-radius : 15px;
	font-size : 15px;
	width : 110px;
}

.boutton2 {
	border : 2px inset #2196f3;
	background : white;
	border-radius : 15px;
	font-size : 15px;
	width : 110px;
	margin-top : -30px;
}

.boutton:hover {
	background : rgba(33, 150, 243, 0.3);
}

.boutton2:hover {
	background : rgba(33, 150, 243, 0.3);
}

#name {
	font-size : 30px;
	color : white;
	font-weight: bold;
	margin-top : -50px;
	text-decoration: none;
}



#marqueur {
	background: rgba(33, 150, 243, 0.3);
}

#pp {
	border : 5px inset #2196f3;
	margin-top : -75px;
}



#propos{
	padding : 20px;
	border : 5px inset #2196f3;	
}

#propos2{
	padding : 20px;
	border-left : 5px inset #2196f3;	
	border-right : 5px inset #2196f3;	
	border-bottom : 5px inset #2196f3;	
}


#nompseudo {
	margin-top : -30px;
	font-size :25px;
	color : #2196f3;
}
